/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
.one {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two {
    display: flex;
    justify-content: space-between;
}

.three {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.three ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
    list-style: none;
}

form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.five {
    display: flex;
}

@media screen and (max-width: 600px) {
    .five {
        flex-wrap: wrap;
    }

    article:last-child {
        background-color: blue;
    }
}